@model ResponseModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Question:</h2>
    <p>Is Alexandre the great, president of China?</p>

    <h3>Options:</h3>
    <form method="post" action="@Url.Action("RecordResponse", "Home")">

        <label>
            <input type="radio" name="option" value="Yes" /> Yes
        </label><br />

        <label>
            <input type="radio" name="option" value="No" /> No
        </label><br />

        <label>
            <input type="radio" name="option" value="No Comment" /> No Comment
        </label><br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
